@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@theme {
  --color-Orange: #FEA301;
  --color-Skyblue: #01ACFD;
  
}
.wrapper {
  @apply max-w-7xl mx-auto 
}

.justify-between {
  @apply items-center
}

